@page "/"
@using Microsoft.AspNetCore.Identity

@inject AuthenticationStateProvider _authenticationStateProvider;
@inject NavigationManager NavigationManager;

<PageTitle>Home</PageTitle>

@if (isAuthenticated)
{
    <div>
        <p>You are Authenticated!</p>
    </div>
    @if (isAdmin)
    {
        <div>
            <p>You are an Admin!</p>
        </div>
    }
}
else
{
    <div>
        <p>Redirecting to login...</p>
    </div>
}

@code {
    public bool isAuthenticated;
    public bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isAuthenticated = user.Identity.IsAuthenticated;

        if (!isAuthenticated)
        {
            // Redirect to the login page if not authenticated
            NavigationManager.NavigateTo("/Account/Login", forceLoad: true);
        }
        else
        {
            isAdmin = user.IsInRole("Admin");
        }
    }
}
